<ul
  *ngIf="paginas?.length > 0"
  class="pagination">

  <li class="page-item" *ngIf="paginador.number > 0">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number-1 ]">&laquo;</a>
  </li>

  <li [ngClass]="paginador.last? 'disable page-item': 'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', 0]">Primera</a>
  </li>

  <li
    class="page-item"
    [ngClass]="nPagina-1 != paginador.number?'':'active'"
    *ngFor="let nPagina of paginas">

    <span
      class="page-link"
      *ngIf="nPagina-1 == paginador.number">
      {{ nPagina }}
    </span>

    <a
     class="page-link"
     [routerLink]="['/clientes/page', nPagina-1 ]"
     *ngIf="nPagina-1 != paginador.number">
     {{ nPagina }}
    </a>

  </li>

  <li [ngClass]="paginador.last? 'disable page-item': 'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1 ]">Última</a>
  </li>

  <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
    <a class="page-link" [routerLink]="['/clientes/page', paginador.number+1 ]">&raquo;</a>
  </li>

</ul>
